@charset "utf-8";
/* ////////////////////////////////////////////////

	** CSS는 기본적으로 Skin + Structure의 형태로 분리
	*** Skin은 스타일 즉, 겉으로 보여지는 형태
	*** Structure는 보이지 않는 골격의 형태 (Grid, Layout 등)
	
	1. Box Model & Margins & Paddings & Positioning
	2. Grid		
	3. Header	
	4. Contents			
	5. Footer	

//////////////////////////////////////////////// */

/* //////////////// 1. Box Model & Margins & Paddings & Positioning	 ////////////////*/
/* box model */

/* Margins */
.marginSide,.mgBoth15 {margin-left:15px !important;margin-right:15px !important;}

.mgauto {margin:0 auto;}
.mgzero,.mgZ{margin:0 !important;}
.mgTz,.mgT0 {margin-top:0 !important;}
.mgT5,.marginT5  {margin-top:5px !important;}
.mgT10,.marginT10 {margin-top:10px !important;}
.mgT15,.marginT15 {margin-top:15px !important;}
.mgT20,.marginT20 {margin-top:20px !important;}
.mgT25,.marginT25 {margin-top:25px !important;}
.mgT30,.marginT30 {margin-top:30px !important;}
.mgT35,.marginT35 {margin-top:35px !important;}
.mgT40,.marginT40 {margin-top:40px !important;}
.mgT45,.marginT45 {margin-top:45px !important;}
.mgT50,.marginT50 {margin-top:50px !important;}

.mgBz,.mgB0 {margin-bottom:0 !important;}
.mgB5,.marginB5 {margin-bottom:5px !important;}
.mgB10,.marginB10 {margin-bottom:10px !important;}
.mgB15,.marginB15 {margin-bottom:15px !important;}
.mgB20,.marginB20 {margin-bottom:20px !important;}
.mgB25,.marginB25 {margin-bottom:25px !important;}
.mgB30,.marginB30 {margin-bottom:30px !important;}
.mgB40,.marginB40 {margin-bottom:40px !important;}
.mgB45,.marginB45 {margin-bottom:45px !important;}
.mgB50,.marginB50 {margin-bottom:50px !important;}

.mgR5,.marginR5 {margin-right:5px !important;}
.mgR10,.marginR10 {margin-right:10px !important;}
.mgR15,.marginR15 {margin-right:15px !important;}

.mgL5,.marginL5 {margin-left:5px !important;}
.mgL10,.marginL10 {margin-left:10px !important;}

.mgRauto {margin-right: auto;}
.mgLauto {margin-left: auto;}
.mgTauto {margin-top: auto;}
.mgBauto {margin-bottom: auto;}

/* Paddings */
.paddingAll {padding:15px !important;}

.pdzero,.noPadding,
.pd-zero,
.pd-zero * {padding:0 !important;}
.pdTzero {padding-top:0 !important;}
.paddingSide,.pdBoth15,.pdLR15,.pdRL15 {padding-left:15px !important;padding-right:15px !important;}

.pdTz {padding-top:0 !important;}
.pdLz {padding-left:0 !important;}
.pdRz {padding-right:0 !important;}
.pdBothz {padding-left:0 !important; padding-right:0 !important;}
.pdT0 {padding-top:0 !important;}
.pdT5 {padding-top:5px !important;}
.pdT10 {padding-top:10px !important;}
.pdT15 {padding-top:15px !important;}
.pdT20 {padding-top:20px !important;}
.pdT25 {padding-top:25px !important;}
.pdT30 {padding-top:30px !important;}
.pdT35 {padding-top:35px !important;}
.pdT40 {padding-top:40px !important;}
.pdT45 {padding-top:45px !important;}
.pdT50 {padding-top:50px !important;}
.pdT60 {padding-top:60px !important;}

.pdBZ,.pdBz {padding-bottom:0 !important;}
.pdB5 {padding-bottom:5px !important;}
.pdB10 {padding-bottom:10px !important;}
.pdB15 {padding-bottom:15px !important;}
.pdB20 {padding-bottom:20px !important;}
.pdB25 {padding-bottom:25px !important;}
.pdB30 {padding-bottom:30px !important;}
.pdB35 {padding-bottom:35px;}
.pdB40 {padding-bottom:40px !important;}
.pdB45 {padding-bottom:45px !important;}
.pdB50 {padding-bottom:50px !important;}
.pdB60 {padding-bottom:60px !important;}

.pdR5,.paddingR5 {padding-right:5px !important;}
.pdL5,.paddingL5 {padding-left:5px !important;}

/* positioning */
.poRelative {position: relative !important;}
.poAbsolute {position: absolute !important;}
.poFixed {position: fixed !important;}

.floatRight {float: right;}
.floatLeft {float: left;}
.topCenter::before {top: 50% !important;}

/* //////////////// 2. Grid	 ////////////////*/
/* global */
.header,
div[data-role="content"],
.footer {margin: 0 auto; position: relative; width: 100%; max-width: 1440px;}

/* column span  12-columns base */
.rowSpan1 {width: 10% !important;} /* 12 columns */
.rowSpan2 {width: 16.6666% !important;} /* 6 columns */
.rowSpan3 {width: 25% !important;} /* 4 columns */
.rowSpan4 {width: 33.3333% !important;} /* 3 columns */
.rowSpan5 {width: 43.5% !important;} 
.rowSpan6 {width: 50% !important;} /* 2 columns */
.rowSpan6_5 {width: 55% !important;} /* 2 columns */
.rowSpan7 {width: 75% !important;} 
.rowSpan8 {width: 84.4444% !important;}
.rowSpan9 {width: 66.6666% !important;}

/* columns */
.columnSet {display: flex; flex-flow: row nowrap; justify-content: space-between; width: 100%;}
.columnSet li {position: relative;}
.colItem {flex: 1 1 0;}
.colItem.colSpan4 {flex-grow: 2;}
.colItem.half-space {flex-grow: 10;} /* 이하나 [18.06.25] colItem 공백 50% display 스타일 TBD (UI-PD-A10056.html) :: 공통 디자인 컨펌 후 스타일 코딩 */
.columnSet-valign-end {align-items: flex-end;}

.columnSet + .btn {margin-top: 20px;}

.leftedColumn {justify-content: flex-start !important;}
.centeredColumn {justify-content: center !important;}
.bothSidedColumn {justify-content: space-between !important;}
.rightedColumn {justify-content: flex-end !important;}

.modal-contents.rowSet,
.rowSet {display: flex; flex-flow: column nowrap; justify-content: space-between; width: 100%;}

/* bottom btnSet */
.selfBottom {position: fixed; bottom: 0; left: 0; z-index:900;}
.focusIn.selfBottom {position: absolute;}
.forceFix .selfBottom{position: relative; bottom: initial; left: initial; }

/* item vertically center */
.columnSet-valign {align-items: center;}
.col-valign {align-items: center;}
.contentCentered {align-items: center; justify-content: center;}
.centeredBox {display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;}

/* with gutter*/
/* .balance + .withGutter {margin-top: 10px;} */
.withGutter li {margin-right: 14px;}
.withGutter .colItem {margin-right: 4px;}
.withGutter li:last-child,
.withGutter .colItem:last-of-type {margin-right: 0;}
.withGutter .guttersz-4 {margin-right: 4px;}
.main.header .withGutter li {margin-right: 5px;}

.bottomGutter li {margin-bottom: 10px;}

/* with wrap */
.withWrap {flex-flow: row wrap;}

/* clearfix */
.clearfix::after {content:''; clear:both; display:table;}

/* //////////////// 3. Header ////////////////*/
.header {padding: 0; overflow: hidden; background: #fff; border-bottom: 1px solid #e0e0e0; position: fixed; top: 0; left: 50%; z-index: 1000; height: 45px; -webkit-transform: translateX(-50%); transform: translateX(-50%);}

.focusIn.header {position: absolute;}

.header nav {display: flex; flex-flow: row nowrap; justify-content: space-between; width: 100%; height: 45px;}
.header ul::after {display: table; content: ''; clear: both;}
.header li {display: inline-block; vertical-align: middle;}
.header li label {position: absolute; top: 0; left: 0; width: 0; text-indent: -999999px; overflow: hidden; font-size: 0;}

/* 메인 색상설정 */
.main {border-bottom:0; padding: 0;}
.main a {color: #fff;}
.header.colour1,
.main.colour1 {background-color: #12a396;} /* default */
.main.colour2 {background-color: #d762ba;} /* grape */
.main.colour3 {background-color: #9d64d5;} /* purple */
.main.colour4 {background-color: #046fd9;} /* blue */
.main.colour5 {background-color: #4e99b8;} /* emerald */
.main.colour6 {background-color: #47a55b;} /* green */
.main.colour7 {background-color: #ef6a6b;} /* red */
.main.colour8 {background-color: #637079;} /* gray */
.header.colour1 {border-bottom: #12a396;}

.login {background-color: #12a396; border-bottom:0;}
.tutorialPop .header {background-color: #f5f5f5; border-bottom: 0;}

.headerTitle {width: 100%; color: #222; max-width: 55%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; line-height: 1.2; display:block; margin: 0; position: absolute; left: 50%; top:50%;-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align:center;/* padding: 14px 0; */}
/*.headerTitle {width: 100%; max-width: 80%; text-align: center; display: block; margin: 0; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%);}*/
.headerTitle a {display: block; padding: 14px 0;}
.headerTitle.withHelp {display: flex; justify-content: center; align-items: center;}

.headerTitle.logo,
.main .headerTitle {/*text-indent: -99999px; font-size: 0; */height: 20px; width: 125px; letter-spacing:1.5em; color:transparent; }
.headerTitle.logo::after,
.main .headerTitle::after {content: ''; position:absolute; left:0; top:0; display: block; background: url('../../img/common/allone_logo.png') no-repeat; width: 100%; height: 100%; background-size: cover;}
.loginDefalut .headerTitle.logo::after {background: url('../../img/common/allone_logo_coloured.png') no-repeat; width: 100%; height: 100%; background-size: cover;}

/*.header.colour1 .headerTitle {color: #fff;}*/

/* 큰글 서비스 */
.big-fontService {font-size: 12px; border-radius: 5px; padding: 5px 8px; color: #222; margin-left: 8px; position: relative;}
.big-fontService::before {content: ''; width: 94px; height: 52px; z-index: -1; position: absolute; top: -15px; left: -27px; background: url('../../img/common_icon_set.png') -409px -272px no-repeat; display: block; -webkit-transform: scale(0.5); transform: scale(0.5);}

.modalSlide > .header {position: absolute; padding: 14px 0;}
.modalWrap .header {position: relative; top: initial; left: initial; -webkit-transform: none; transform: none;}
#modalScroll section {height: 75vh;}

/* 챗봇 헤더 */
.chatBot {background-color: #fff;}
.chatBot nav > .headerTitle {display: flex; justify-content: center; align-items: center;}
.chatBot nav > .headerTitle::before {content:''; display: block; margin: 0 5px 0 -5px; width: 26px; height: 26px; background: url('../../img/chatbot/chatbot_head_title.png') 0 0 no-repeat; background-size: 25px 25px;}


/* //////////////// 4. Contents	 ////////////////*/
#wrap {width: 100%; overflow-x: hidden;}
div[data-role="content"]:not(.modal-contents) {margin-top: 45px; overflow: hidden; min-height: calc(100vh - 45px);} /* 컨텐츠 이중 스크롤 방지를 위해 테스트 css overflow:hidden 삽입 */
div[data-role="content"].splashPage {margin-top:0; min-height:100vh;}
section {padding: 15px; -webkit-overflow-scrolling: touch;}
.fullWidth,.tabContent.fullWidth,.accordion .fullWidth {padding: 0;}
.with-fixedBtn {margin-bottom: 65px;}
.with-fixedBtn.with-pixedBtn_bannrer {margin-bottom:200px;}
.modal-contents .with-fixedBtn {margin-bottom: 50px;}

.modalDefault section.with-fixedBtn {padding: 30px 15px;}
.modalDefault section.pdT0 + .with-fixedBtn {padding: 0 15px 30px;}
.stretched-height {height: calc(100vh - 45px) !important;}
.with-fullFixed,
.with-fulliframe {height: calc(100vh - 45px); overflow-y: hidden;}
/* 풀 아이프레임의 경우 안드로이드, ios 이슈 픽스 */
.modalFull .modal-contents.forceFix  {justify-content: space-between;}
.no-fixed.withoutBtn {overflow-y: auto; margin-top: 45px; -webkit-overflow-scrolling: touch;}
.no-fixed.withoutBtn .iframes {height: 100% !important}
.with-fixedBtn.stretched-height {margin-bottom: 45px; -webkit-overflow-scrolling: touch; overflow-y: auto;}
.with-fixedBtn.stretched-height iframe,
.fullHeight {height: 100%;}
.minHeightauto {min-height: initial !important;}

.iframeSwiper {display:block; max-height: 79px;}
.iframes.alloneEvent,
.iframeEvent {display: block; max-height: 125px;}


/* 에러페이지 및 블러킹 페이지 레이아웃 */
div[data-role="content"].errorPage {display: flex; flex-flow: column nowrap; margin-top: 0; height: 100vh; justify-content: flex-end; background-color: #fff;}
.modalFull div[data-role="content"].errorPage {height: calc(100vh - 95px);}
.errorPage > section {flex-grow: 2; display: flex; flex-flow: column nowrap; justify-content: center;}

.addErrorPage .vmAlign{display: flex; flex-flow: column nowrap; margin-top: 0; height: 100vh; justify-content: flex-end; margin-bottom:50px;}

.addErrorPage .with-fixedBtn .vmAlign {height: calc(100vh)} /*버튼 있을경우 */
.addErrorPage .tabNav + .vmAlign{height: calc(100vh - 176px)} /* tab 있을경우 */
.addErrorPage .with-fixedBtn .tabNav + .vmAlign{height: calc(100vh - 126px)} 
.addErrorPage .vmAlign .completeMsg{flex-grow: 2; display: flex; flex-flow: column nowrap; justify-content: center;}


div[data-role="content"].search-contents {display: flex; flex-flow: column nowrap; margin-top: 0; height: calc(100vh - 45px); justify-content: space-between;}

/* 풀팝업 middle section 페이지 레이아웃 */
div[data-role="content"].justify-center {display: flex; position: relative; flex-flow: row nowrap; justify-content: flex-start; align-items: center;}
div[data-role="content"].justify-center > section {width:100%;}

/* 단순 메세지 가운데 정렬 */
.lastStep {display: flex; position: relative; height: calc(100vh - 95px); flex-flow: row nowrap; justify-content: flex-start; align-items: center; margin-bottom: 50px;}
.breadcrumb + .lastStep {height: calc(100vh - 147px);}

/* 전체 iframe 페이지 레이아웃 :: */
div[data-role="content"].iframePage {overflow-y:hidden;}
.iframePage section iframe {width:100%; height:calc(100vh - 46px); margin:0;}
.iframePage section.breadcrumb + section iframe {height:calc(100vh - 94px);}
.iframePage.modal-contents section.with-fixedBtn{margin-bottom:0;}
.iframePage.modal-contents section.with-fixedBtn iframe {width:100%; height:calc(100vh - 118px); margin:0;} /* 풀팝업 페이지 */

/* 폼 성격에 따른 구분 */
.fullWidth fieldset.formWrap {padding: 15px;}
fieldset.formWrap h3 {}
fieldset + h3 {border-top: 10px solid #eee; border-bottom: 1px solid #e0e0e0;}

/* <a> underline */
.underline {text-decoration:underline;}
.a-inList a {display:inline-block;}

/* border */
.topbordered {position:relative; border-top: 10px solid #eee !important;}
.bottombordered {border-bottom: 10px solid #eee !important;}
.bdB1 {border-bottom:1px solid #e0e0e0 !important;}
.bdT1 {border-top:1px solid #e0e0e0 !important;}
.bdR1 {border-right:1px solid #d7d7d7;}
.bdL1 {border-left:1px solid #d7d7d7;}
.bdB0 {border-bottom:0 !important;}
.bdT0 {border-top:0 !important;}
.bdzero {border:none !important;}
.bdAll {border: 1px solid #e0e0e0;}
table .bdL1 {border-left:1px solid #d7d7d7 !important;}

/* //////////////// 5. Footer	 ////////////////*/

/* Media Queries */
@media only screen and (max-device-width:320px){
	.withGutter li .disabled button {height:45px; font-size: 10px;}
}
