@import url("../../../../assets/css/main.css");

/* /////////////////////////////// 
/////////////////////////////////
Publishing Guide styles
/////////////////////////////////
/////////////////////////////// */
code {display: block; font-family: 'Courier New', sans-serif; font-size: 13px; color: #fff; background-color: rgba(0, 0, 0, .9); margin: 15px 0; padding: 15px 20px; line-height: 1.5;}
h3 + code {margin: 0 0 15px;}
code > strong {color: red;}
.guide {width: 300%;}

.dirMap {border: 1px solid #ccc;}
.dirMap th, .dirMap td {padding: 5px;}
.dirMap col:nth-child(2n+2) {background: #efefef;}
.dirMap th {border-bottom: 1px solid #ccc; font-weight: bold;}

.mapGrid {height: 100vh;}
.mapGrid section:first-of-type {width: 100%; max-width: 800px; min-width: 800px; position: absolute; top: 0; left: 0;}
.mapGrid section article {padding: 30px;}

.tree {padding: 0;}
ol.tree li > li:first-child {padding-left: 0;}
ol.tree li {position: relative; margin-left: 0; padding-left: 20px; list-style: none; line-height: 1.8;}
ol.tree li::before {content: '\e94b'; display: block; position: absolute; left: 0; font-family: 'allonebank'; font-size: 14px; height: 1em; margin: 0; }
ol.tree li.treechecked::before {content: '\e949'}
ol.tree li .file {margin-left: -1px !important; padding-left: 20px;}
ol.tree li .file a {color: #555; position: relative; }
ol.tree li .file::before {content: '\e983'; position: absolute; left: 3px; font-family: 'allonebank'; display: block; font-size: 14px; color: #333; }
ol.tree li .file a::after {position: absolute; right: 0; top: 0; content: attr(data-desc); color: blue;}
ol.tree li input {position: absolute; left: 0; margin-left: 0; opacity: 0; z-index: 2; cursor: pointer; height: 1em; width: 1em; top: 0;}
ol.tree li input + ol {padding: 0; position: relative;}
ol.tree li input + ol > li {display: none;}
ol.tree li label {cursor: pointer; display: block; color: #666;}
ol.tree li label:hover,
ol.tree li .file a:hover	 {color: #11a4b3;}
ol.tree li input:checked + ol {height: auto;}
ol.tree li input:checked + ol > li {display: block;}
ol.tree li input:checked + ol > li:last-child {margin: 0;}

/* Guide GNB */
.guideNav {padding: 30px; border-bottom: 1px dashed #11a4b3;}
.guideNav li {display: table-cell; vertical-align: middle; font-size: 13px; padding: 0 15px; border-right: 1px solid #696969;}
.guideNav li:first-child {padding: 0; border-right: 0;}
.guideNav li:nth-child(2){padding-left: 5px;}
.guideNav li:last-child {border-right: none;}
.guideNav li h1 {font-size: 18px; font-weight: bold; color: #11a4b3; }

/* Style guide */
.styleGrid {line-height: 1.4; font-size: 13px; padding: 30px; position: relative; display: flex; flex-flow: row nowrap; justify-content: flex-start;}
.styleGrid section > h2 {font-weight: bold; font-size: 17px; line-height: 2; border-bottom: 1px solid #ccc; color: #666;}
.styleGrid section.breadcrumb > h2{border:0} /* 이하나 [18.06.21] ★공통가이드 여부확인. 컨텐츠 위치 확인 효율성을 위해 breadcrumb 샘플링 클래스 */
.styleGrid h3.styleh3 {font-weight: bold; font-size: 14px; line-height: 3; color: #999; position: relative; padding-left: 23px;}
.styleGrid h3.styleh3::before {content: ''; display: block; background: #999; width: 15px; height: 10px; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.styleGrid h4 {font-weight: bold; font-size: 13px; line-height: 2;}
.styleGrid h3.styleh3 + label {margin-top: 0;}
.styleGrid section {margin-right: 40px; min-width: 270px; max-width: 420px;}
.styleGrid section.topNotice{margin-right:0}/* 이하나 [18.06.21] ★공통가이드 여부확인. 컨텐츠 위치 확인 효율성을 위해 breadcrumb 샘플링 클래스 */
.styleGrid section > ul.button {margin: 15px 0 0; height: auto;}
.styleGrid section > ul.button::after {clear: both; content: ''; display: table;}
.styleGrid section > ul.button > li:last-child {margin-bottom: 15px;}

.styleGrid dl {}
.styleGrid dt {font-size: 13px;}
.styleGrid dd {}
.styleGrid h3 + ul {margin-top: 0;}
.styleGrid .class {width: 100%; max-width: 600px; margin: 10px 0; display: flex; flex-flow: row wrap; justify-content: space-between; border-top: 1px solid #eee; border-left: 1px solid #eee; border-right: 1px solid #eee;}
.styleGrid .class dt,
.styleGrid .class dd {border-bottom: 1px solid #eee; padding: 3px 5px;}
.styleGrid .class dt {width: 20%; font-weight: bold; color: #11a4b3; border-right: 1px solid #eee; }
.styleGrid .class dt::before {display: inline-block; content: '.';}
.styleGrid .class dd {width: 80%;}

.styleGrid textarea {border:1px solid #eee;}


/* color swatches */
.swatches {display: flex; flex-flow: row wrap; justify-content: flex-start;}
.swatches li {padding-right: 5px;}
.swatches li:last-child {padding: 0;}/* 2018-03-02 창표 수정 */ 
#gnb{overflow:hidden;width:980px;clear:both;}
#gnb li{float:left;height:38px;}
#gnb .menu{display:block;overflow:hidden;height:38px;}
#gnb .home {width:80px;}
#gnb .roadmap {width:98px;}
#gnb .on .menu {margin:0 -1px;}/* 2018-03-05 창표 수정 */
.swatches li a {width: 100px; height: 40px; margin: 0 auto;}
.swatches li dd {text-align: center; padding: 7px 0; font-size: 13px; font-weight: bold;}

.formWrap:first-of-type {padding-top: 0;}

.button dt {margin-top: 15px;}
.button dt:first-of-type {margin-top: 0;}
.focus .btn.cancel{background-color: #b7b7b7; color: #202020;}
.focus .btn.submit{background-color: #217f80; color: #fff;}
.focus .btn.secondary {border: 1px solid #379392; color: #379392;}

/* type */
.nanumGothic {font-family: 'Nanum Gothic'}
.nanumGothicB {font-family: 'Nanum Gothic B'}
.nanumBarunGothic {font-family: 'Nanum Barun Gothic'}
.nanumBarunGothicB {font-family: 'Nanum Barun Gothic B'}
.notoSans {font-family: 'Noto Sans';}
.notoSansB {font-family: 'Noto Sans B';}
.nanumSquare {font-family: 'Nanum Square';}
.nanumSquareB {font-family: 'Nanum Square B';}
.typo dt {margin-top: 15px;}
.typo dt:first-of-type {margin-top: 0;}
.typo dd strong {font-weight: normal;}

h1.heading {font-size: 17px; line-height: 1.4;}
h2.heading {font-size: 16px; border: none; line-height: 1.4; color: #000;}
h3.heading {font-size: 15px; padding: 0; color: #000; line-height: 1.4;}
h3.heading::before {width: 0;}

/* icon */
i {font-size: 32px;}
.icon li {position: relative; display: inline-block; text-align: center; margin: 5px 0;}
.icon li .infoAlert,
.icon li .setup {position: relative; right: auto; left: 0;}
.voiceTheme {width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between;}
.voiceTheme li {width: 33.3333%; margin-bottom: 15px;}
.voiceTheme li dd {text-align: center; font-size: 13px; font-weight: bold;}

@font-face {
  font-family: 'allonebank';
  src:  url('../../../assets/fonts/allonebank.eot?2slf6n');
  src:  url('../../../assets/fonts/allonebank.eot?2slf6n#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/allonebank.ttf?2slf6n') format('truetype'),
    url('../../../assets/fonts/allonebank.woff?2slf6n') format('woff'),
    url('../../../assets/fonts/allonebank.svg?2slf6n#allonebank') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'allonebank' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-chatbot:before {
  content: "\e9ad";
}
.i-fiber_manual_record:before {
  content: "\e973";
}
.i-dot-single:before {
  content: "\ea30";
}
.i-won-sign:before {
  content: "\e974";
}
.i-attach_money:before {
  content: "\e979";
}
.i-ionicons_svg_ios-text:before {
  content: "\e90e";
}
.i-ionicons_svg_ios-locate:before {
  content: "\e90f";
}
.i-ionicons_svg_ios-time:before {
  content: "\e910";
}
.i-ionicons_svg_md-locate:before {
  content: "\e911";
}
.i-ionicons_svg_md-share:before {
  content: "\e91f";
}
.i-ionicons_svg_md-time:before {
  content: "\e975";
}
.i-ios-camera:before {
  content: "\e976";
}
.i-ios-remove:before {
  content: "\e977";
}
.i-ios-arrow-round-back:before {
  content: "\e978";
}
.i-ios-arrow-round-down:before {
  content: "\e97a";
}
.i-ios-arrow-round-forward:before {
  content: "\e97b";
}
.i-ios-arrow-round-up:before {
  content: "\e97c";
}
.i-ios-arrow-dropdown-circle:before {
  content: "\e97d";
}
.i-ios-arrow-dropleft-circle:before {
  content: "\e97e";
}
.i-ios-arrow-dropright-circle:before {
  content: "\e97f";
}
.i-ios-arrow-dropup-circle:before {
  content: "\e980";
}
.i-ios-checkmark-circle-outline:before {
  content: "\e981";
}
.i-ios-checkmark-circle:before {
  content: "\e982";
}
.i-ios-checkmark:before {
  content: "\e983";
}
.i-ios-close:before {
  content: "\e984";
}
.i-ios-add:before {
  content: "\e985";
}
.i-comment:before {
  content: "\e986";
}
.i-modify:before {
  content: "\e987";
}
.i-mall:before {
  content: "\e988";
}
.i-scope:before {
  content: "\e059";
}
.i-ios-alert:before {
  content: "\e98a";
}
.i-ios-arrow-back:before {
  content: "\e98b";
}
.i-ios-arrow-down:before {
  content: "\e98c";
}
.i-ios-arrow-dropdown:before {
  content: "\e98d";
}
.i-ios-arrow-dropleft:before {
  content: "\e98e";
}
.i-ios-arrow-dropright:before {
  content: "\e98f";
}
.i-ios-arrow-dropup:before {
  content: "\e990";
}
.i-ios-arrow-forward:before {
  content: "\e991";
}
.i-ios-arrow-up:before {
  content: "\e992";
}
.i-ios-help-circle-outline:before {
  content: "\e993";
}
.i-ios-help-circle:before {
  content: "\e994";
}
.i-ios-help:before {
  content: "\e995";
}
.i-ios-information-circle-outline:before {
  content: "\e996";
}
.i-ios-information-circle:before {
  content: "\e997";
}
.i-ios-information:before {
  content: "\e998";
}
.i-ios-pause:before {
  content: "\e999";
}
.i-ios-play:before {
  content: "\e99a";
}
.i-ios-skip-backward:before {
  content: "\e99b";
}
.i-ios-skip-forward:before {
  content: "\e99c";
}
.i-logo-youtube:before {
  content: "\e99d";
}
.i-md-arrow-dropdown:before {
  content: "\e99e";
}
.i-md-arrow-dropup:before {
  content: "\e99f";
}
.i-md-help-circle-outline:before {
  content: "\e9a0";
}
.i-md-help-circle:before {
  content: "\e9a1";
}
.i-md-help:before {
  content: "\e9a2";
}
.i-md-locate:before {
  content: "\e9a3";
}
.i-md-play-circle:before {
  content: "\e9a4";
}
.i-md-radio-button-off:before {
  content: "\e9a5";
}
.i-md-radio-button-on:before {
  content: "\e9a6";
}
.i-md-thumbs-down:before {
  content: "\e9a7";
}
.i-md-thumbs-up:before {
  content: "\e9a8";
}
.i-arrow-left-thin:before {
  content: "\e9a9";
}
.i-arrow-right-thin:before {
  content: "\e9aa";
}
.i-arrow-up-thin:before {
  content: "\e9ab";
}
.i-arrow-down-thin:before {
  content: "\e9ac";
}
.i-file-excel:before {
  content: "\e9e9";
}
.i-file-pdf:before {
  content: "\e9ea";
}
.i-file-powerpoint:before {
  content: "\e9ec";
}
.i-file-word:before {
  content: "\e9ee";
}
.i-dollar1:before {
  content: "\f155";
}
.i-krw:before {
  content: "\f159";
}
.i-file-pdf-o:before {
  content: "\f1c1";
}
.i-file-word-o:before {
  content: "\f1c2";
}
.i-file-excel-o:before {
  content: "\f1c3";
}
.i-file-powerpoint-o:before {
  content: "\f1c4";
}
.i-check:before {
  content: "\e92b";
}
.i-select-check:before {
  content: "\e92c";
}
.i-bold-arrow-down:before {
  content: "\e92d";
}
.i-bold-arrow-up:before {
  content: "\e92e";
}
.i-double-arrow-left:before {
  content: "\e92f";
}
.i-double-arrow-right:before {
  content: "\e930";
}
.i-arrow-right:before {
  content: "\e931";
}
.i-arrow-left:before {
  content: "\e932";
}
.i-arrow-up:before {
  content: "\e933";
}
.i-arrow-down:before {
  content: "\e934";
}
.i-heard-filled:before {
  content: "\e935";
}
.i-heart:before {
  content: "\e936";
}
.i-search:before {
  content: "\e937";
}
.i-filter:before {
  content: "\e938";
}
.i-call:before {
  content: "\e939";
}
.i-kakao-talk:before {
  content: "\e93a";
}
.i-kakao-story:before {
  content: "\e93b";
}
.i-twitter:before {
  content: "\e93c";
}
.i-facebook:before {
  content: "\e93d";
}
.i-edit1:before {
  content: "\e969";
}
.i-external-link:before {
  content: "\e923";
}
.i-anchor:before {
  content: "\e93e";
}
.i-arrow-share:before {
  content: "\e93f";
}
.i-share:before {
  content: "\e940";
}
.i-mail:before {
  content: "\e941";
}
.i-percent:before {
  content: "\e942";
}
.i-type:before {
  content: "\e900";
}
.i-thumbs-up:before {
  content: "\e901";
}
.i-thumbs-down:before {
  content: "\e902";
}
.i-x:before {
  content: "\e943";
}
.i-delete:before {
  content: "\e904";
}
.i-trash-2:before {
  content: "\e944";
}
.i-calendar:before {
  content: "\e905";
}
.i-menu:before {
  content: "\e945";
}
.i-more-horizontal:before {
  content: "\e946";
}
.i-more:before {
  content: "\e906";
}
.i-notice:before {
  content: "\e907";
}
.i-exchange:before {
  content: "\e908";
}
.i-location:before {
  content: "\e909";
}
.i-map-pin:before {
  content: "\e947";
}
.i-minus:before {
  content: "\e948";
}
.i-minus-circle:before {
  content: "\e949";
}
.i-plus:before {
  content: "\e94a";
}
.i-plus-circle:before {
  content: "\e94b";
}
.i-slash:before {
  content: "\e94c";
}
.i-maximize:before {
  content: "\e94d";
}
.i-long-arrow-down:before {
  content: "\e90b";
}
.i-long-arrow-up:before {
  content: "\e94e";
}
.i-chevrons-left:before {
  content: "\e958";
}
.i-chevrons-right:before {
  content: "\e959";
}
.i-chevron-left:before {
  content: "\e95a";
}
.i-chevron-right:before {
  content: "\e95b";
}
.i-star-filled:before {
  content: "\e90c";
}
.i-favorite:before {
  content: "\e90d";
}
.i-search-btn:before {
  content: "\e94f";
}
.i-phone:before {
  content: "\e950";
}
.i-phone-call:before {
  content: "\e951";
}
.i-send:before {
  content: "\e912";
}
.i-link-btn:before {
  content: "\e913";
}
.i-authen-certificate:before {
  content: "\e914";
}
.i-dollar:before {
  content: "\e915";
}
.i-won:before {
  content: "\e916";
}
.i-alert-circle:before {
  content: "\e96a";
}
.i-alert-triangle:before {
  content: "\e96b";
}
.i-clock:before {
  content: "\e96c";
}
.i-copy:before {
  content: "\e971";
}
.i-hash:before {
  content: "\e972";
}
.i-music-notes:before {
  content: "\e96d";
}
.i-share-alt:before {
  content: "\e952";
}
.i-cheveron-left:before {
  content: "\e917";
}
.i-cheveron-right:before {
  content: "\e918";
}
.i-play2:before {
  content: "\e96e";
}
.i-play-outline:before {
  content: "\e96f";
}
.i-pause-outline:before {
  content: "\e970";
}
.i-pause:before {
  content: "\e919";
}
.i-close-x:before {
  content: "\e91a";
}
.i-target:before {
  content: "\e91b";
}
.i-arrow-thin-up:before {
  content: "\e953";
}
.i-video-call:before {
  content: "\e903";
}
.i-tip:before {
  content: "\e90a";
}
.i-new:before {
  content: "\e921";
}
.i-edit:before {
  content: "\e95e";
}
.i-history-import:before {
  content: "\e95f";
}
.i-memo-import:before {
  content: "\e967";
}
.i-fill-form:before {
  content: "\e960";
}
.i-complete:before {
  content: "\e961";
}
.i-sharesns:before {
  content: "\e962";
}
.i-caret-up1:before {
  content: "\f0d8";
}
.i-caret-down1:before {
  content: "\f0d7";
}
.i-caret-right1:before {
  content: "\f0da";
}
.i-play1:before {
  content: "\f04b";
}
.i-help:before {
  content: "\e91c";
}
.i-download:before {
  content: "\e91d";
}
.i-cs:before {
  content: "\e91e";
}
.i-like:before {
  content: "\e954";
}
.i-dislike:before {
  content: "\e955";
}
.i-barcode:before {
  content: "\f02a";
}
.i-close:before {
  content: "\e920";
}
.i-mypage:before {
  content: "\e963";
}
.i-setting:before {
  content: "\e922";
}
.i-bell:before {
  content: "\e956";
}
.i-mic:before {
  content: "\e964";
}
.i-login:before {
  content: "\e95c";
}
.i-logout:before {
  content: "\e95d";
}
.i-nav:before {
  content: "\e924";
}
.i-home:before {
  content: "\e925";
}
.i-exclamation:before {
  content: "\e965";
}
.i-transaction:before {
  content: "\e926";
}
.i-invite:before {
  content: "\e927";
}
.i-refresh:before {
  content: "\e966";
}
.i-angle-double-left:before {
  content: "\f100";
}
.i-angle-double-right:before {
  content: "\f101";
}
.i-angle-left:before {
  content: "\f104";
}
.i-angle-right:before {
  content: "\f105";
}
.i-faceid:before {
  content: "\e957";
}
.i-pattern:before {
  content: "\e968";
}
.i-circle:before {
  content: "\f112";
}
.i-play-circle:before {
  content: "\f145";
}
.i-paper-plane:before {
  content: "\f1d8";
}
.i-send1:before {
  content: "\f1d8";
}
.i-paper-plane-o:before {
  content: "\f1d9";
}
.i-send-o:before {
  content: "\f1d9";
}
.i-copyright:before {
  content: "\f1f9";
}
.i-at:before {
  content: "\f1fa";
}
.i-trademark:before {
  content: "\f25c";
}
.i-telegram:before {
  content: "\f2c6";
}
.i-scope1:before {
  content: "\e058";
}
.i-arrow-move:before {
  content: "\e928";
}
.i-finger-print:before {
  content: "\e929";
}
.i-simple-password:before {
  content: "\e92a";
}
.i-arrow-up-bold:before {
  content: "\ea3a";
}
.i-link:before {
  content: "\e9cb";
}
