.container {
  width:100%;height:100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tablist{display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center;align-items:center;list-style:none;margin:0;padding:0;text-align:left;}
.tablist li {border:0.1rem solid #000;}
.tablist li a{display:block;text-decoration:none;padding:1rem;font-size:2rem;color:#f0f;}
h3 span{color:#f0f;font-weight:bold;}